<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="log4net" version="2.0.5" targetFramework="net471" />
  <package id="MarkovSharp" version="4.0.32" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net471" />
  <package id="Sanford.Multimedia.Midi" version="6.1.1" targetFramework="net471" />
</packages>